/* Colors */

$green: #3F9E94;
$green-alt: rgba(136, 189, 107, 0.53);
$dark-gray: rgb(126, 126, 126);
$light-gray: rgb(158, 158, 158);
$orange: #E46350;
$black: rgb(41,51,71); /*#333;*/
$white: #FAFAFA; // white color used by apple, very subtle as rgb(250, 250, 250)
$blue: #0070C9;
$red: #CC0000;
$mask: rgba(0,0,0,0.2);

