$white: #FAFAFA;
$black: #333;
$black-alt: #111;
$blue: #0070C9;

/* General styles */

* {
  min-height: 0;
  min-width: 0;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

h3 {
  font-size: 40px;
  font-family: 'Pieta-Bold'; /* Helvetica; */
  font-weight: 500;
  line-height: 1.07;
  letter-spacing: -0.005em;
  color: $black-alt;
  margin: 0;
}

h4 {
  font-size: 40px;
  font-family: Helvetica;
  font-weight: 600;
  line-height: 1.07;
  letter-spacing: -0.005em;
  color: $black;
  margin: 0;
}

p {
  font-size: 21px;
  font-family: Helvetica;
  font-weight: 400;
  line-height: 1.38;
  letter-spacing: 0.011em;
  color: $black;
  margin-top: 1.2em;
  margin-bottom: 0;
}

a {
  font-size: 21px;
  font-family: Helvetica;
  font-weight: 400;
  line-height: 1.38;
  letter-spacing: 0.011em;
  color: $blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;
  }
}

button {
  background: none;
  border: 2px solid #7E7C79;
  color: #7E7C79;
  border-radius: 3px;
  padding: 10px 30px;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.7px;
  transition: all 200ms ease;

  &:hover {
    color: white;
    border-color: darken($white, 10%);
    background-color: darken($white, 10%);
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &:active {
    background: transparent;
  }
}

input {
  width: 100%;
  border: none;
  outline: none;
  /* color: white; */
  background: transparent;
  font-family: Helvetica;
  font-size: 17px;
  /* height: 40px; */
  padding: 10px 15px;

  &:focus {
    outline: none;
    background: darken($white, 5%);
  }
}

textarea {
  width: 100%;
  padding: 10px 15px;
  border: 2px solid $black;
  color: $black;
  background: transparent;
  font-family: Helvetica;
  font-size: 17px;
  resize: none;
  transition: height 0.4s;

  &:focus {
    outline: none;
    background: darken($white, 5%);
  }
}

/* Specific styles */

.grid-container {
  max-width: 1200px; /*  Apple uses 1350px */
  margin: 0 auto;
  text-align: center;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

/* input placeholder text color */

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $black;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: $black;
   opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: $black;
   opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: $black;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: $black;
}

/* react-slick specific styling */

.slick-prev:before, .slick-next:before {
  font-size: 40px;
}

.slick-prev {
  left: 8px; /*  left: -2px is the edge */
  z-index: 1;
}

.slick-next {
  right: 28px; /*  right: 18px is the edge */
}