.Home {
  @import '~styles/variables';
  /* @import '~styles/header'; */
  margin-top: 2rem;

  section {
    /* min-height: 700px; */
    background: $white;
    color: $black;
  }

  .subsection {
    /* padding: 1em; *//* debating whether I should keep this */
  }

  section.my-work {
    background: white;
    padding-bottom: 120px;

    .grid-container {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0px;
      align-items: center;
      padding: 0 8px;
    }

    .img-overlay {
      background: rgba(0, 0, 0, 0.82);
      opacity: 0;
      transition: all 300ms ease-in-out;
      display: grid;
      align-items: center;

      h2, p {
        margin: 0 50px;
        color: white;
      }

      h2 {
        margin-bottom: 8px;
      }

      &:hover {
        opacity: 1;
      }
    }

    .subsection.header {
      grid-column: 1 / span 2;
      padding-top: 48px;
    }

    .subsection.image-container {
      position: relative;
      display: grid;
      align-items: center;
    }
  }

  section.our-expertise {
    background: #A75448;
    padding-bottom: 120px;

    .grid-container {
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 0;
      grid-column-gap: 24px;
      align-items: stretch;
    }

    h3 {
      color: white;
      margin: 45px 0;
    }

    .img-overlay {
      background: rgba(0, 0, 0, 0.82);
      opacity: 0;
      transition: all 300ms ease-in-out;
      display: grid;
      align-items: center;

      h2, p {
        margin: 0 50px;
        color: white;
      }

      h2 {
        margin-bottom: 8px;
      }

      &:hover {
        opacity: 1;
      }
    }

    .subsection {
      padding: 1em;
    }

    .subsection.header {
      grid-column: 1 / span 3;
    }

    .subsection.image-container {
      position: relative;
      display: grid;
      align-items: center;
    }
  }

  section.about {
    padding-bottom: 120px;
    height: 900px; /*  temporary */
    background: #41A7ED;

    .grid-container {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0px;
      align-items: stretch;
    }

    .subsection.header {
      grid-column: 1 / span 2;
    }

    h3 {
      margin: 45px 0;
      color: $white;
    }
  }

  section.contact {
    padding-bottom: 120px;
    height: 900px; /*  temporary */
    background: #A81F31;

    .grid-container {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0px;
      align-items: stretch;
    }

    .subsection.header {
      grid-column: 1 / span 2;
    }

    h3 {
      margin: 45px 0;
      color: $white;
    }
  }

  /* breakpoints */
  @media (max-width: 800px) {
    section.my-work h3 {
      font-size: 24px;
    }

    section.our-expertise h3 {
      font-size: 24px;
    }
  }
}
