.AboutMe {
  padding-top: 4rem;
  margin-top: 9.5rem;
  margin-bottom: 9.5rem;

  .info {
    padding: 1.5rem;
  }

  .grid-container {
    align-items: center;
    box-shadow:5px 5px 10px -5px rgba(0,0,0,0.75);
  }
}