  .Footer {
    @import '~styles/variables';

    padding-top: 120px;
    background: #44988E;

    .grid-container {
      grid-template-columns: 1fr;
      align-items: center;
    }

    h3 {
      width: 25%;
      margin: 0 auto;
      margin-top: 50px;
      font-size: 30px;
    }

    p {
      color: $white;
    }

    .copyright {
      margin-top: 100px;
      margin-bottom: 0;
    }

    .social-media-icons {
      padding-bottom: 45px;
    }

    a {
      color: $white; /* lighten($black, 10%); */
      transition: color 0.3s;

      &:hover {
        color: lighten($black, 10%);
      }
    }

    .fa {
      font-size: 60px;
      padding: 0 6px;
      padding-top: 16px;
    }

    .subsection {
      padding: 0;
    }

    .subsection-1 {
      margin-top: 60px;
    }

    @media (max-width: 800px) {
      .copyright {
        font-size: 16px;
      }
    }
  }