.Header {
  @import '~styles/variables';

  position: absolute;
  z-index: 1000;
  width: 100%;

  /* background: $mask; */

  .grid-container {
    padding: 0 1em;
    grid-template-columns: 1fr 40% repeat(4, 1fr);
    justify-content: end;
    align-items: start;
  }

  section {
    text-align: center;
    background: transparent;
  }

  section.logo {
    text-align: left;

    a {
      /*&::before, &::after {
        content: none;
      }*/
    }
  }

  section.portfolio {
    position: relative;

    .subsection {
      /* display: none; */
      opacity: 0;
      transition: opacity 0.2s;
      position: absolute;
      top: 56px;
      left: 0;
      /* background: rgba(64, 64, 64, 0.8); */

      a {
        padding: 14px 0;
      }

      &:hover {
        opacity: 1;
      }
    }

    a:hover + .subsection {
      opacity: 1;
    }
  }

  /* Link styling */

  a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Pieta-Bold';
    letter-spacing: 0.7px;
    color: white; /* inherit; */
    padding: 25px 0;
    transition: color 0.3s;

    position: relative;
    display: inline-block;
    width: 100%;

    &:hover {
      color: white;
      cursor: pointer;
      text-decoration: none;
    }
  }

  a::before, a::after {
    display: inline-block;
    opacity: 0;
    transition: transform 0.3s, opacity 0.2s;
  }

  a::before {
    margin-right: 10px;
    content: '[';
    transform: translateX(20px);
  }

  a::after {
    margin-left: 10px;
    content: ']';
    transform: translateX(-20px);
  }

  a:hover::before, a:hover::after, /*a.active::before, a.active::after*/ {
    opacity: 1;
    transform: translateX(0px);
  }

  /*.portfolio > a:before, .portfolio > a:after {
    content: none;
  }*/

  /*  Custom breakpoint  */
  @media (max-width: 1000px) {
    .grid-container {
      grid-template-columns: 45% repeat(4, 1fr);
    }
  }

  @media (max-width: 800px) {
    .grid-container {
      grid-template-columns: 40% repeat(4, 1fr);
    }
  }
}

.MobileHeader {
  @import '~styles/variables';

  text-align: right;
  background: #272727;
  color: white;
  font-family: helvetica;
  font-weight: bold;
  letter-spacing: 0.7px;
  min-height: 34px;
  align-items: center; /*  vertically centers the header text */
  overflow-y: hidden;

  .header-content {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    height: 0;
    transition: height 450ms ease-in-out;

    &.expanded {
      height: 340px;
      padding-bottom: 12px;
    }
  }

  .fa {
    font-size: 30px;
    padding: 12px 24px;
  }

  .home-button {
    margin-top: 12px;
  }

  a {
    text-decoration: none;
    color: inherit;
    padding: 24px;
    transition: background 200ms;
    height: 20px;

    &:hover {
      text-decoration: none;
    }

    &:focus {
      /* background: $green; */
      text-decoration: none;
    }
  }

  /*  Specific header items */

  .home {
    /* background: #7DB6B0; */
  }

  .services {

  }
  
  .portfolio {
    /* background: #E46350; */
  }

  .about {
    /* background: #F5B07C; */
  }

  .contact {
    /* background: #B05C5C; */
  }

}

/*  Nice colors */
/*
#F5B07C
#E46350
#7DB6B0
#B05C5C
#74BF80
#9F6490
*/